.DS_Store
.env
*.log

# Monorepo dependencies
**/node_modules/

# Python
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/venv/
**/.venv/

# Common build outputs
**/dist/
**/build/
**/.cache/

# React Router
/.react-router/
/build/
